<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/erp}">

<head>
    <title>Events - Overview</title>
    <script>
        document.addEventListener(
            "DOMContentLoaded",
            () =>
            (document.getElementById("header-route").innerHTML = `
        <p>Events / <span class="active">Overview</span></p>`)
        );
    </script>
    <script th:inline="javascript">
        const rows = /*[[${data}]]*/[];

        const Row = (name, description, priority, date) => `
        <tr onclick="handleRowClick('${name}')">
            <td>${name}</td>
            <td>${description}</td>
            <td>${priority}</td>
            <td>${date}</td>
        </tr>
        `;

        const setTableRows = (rows) => {
            document.getElementById("table-data").innerHTML = rows
                .map((row) => Row(row.name, row.description, row.priority, row.date))
                .join("");
        };

        const handleRowClick = (name) => {
            const route = _routes.find((i) => i.name === "Calendar").href;
            window.location.assign(`${route}/${name}`);
        };

        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("table-search-icon").innerHTML = searchIcon;
            setTableRows(rows);
            document
                .getElementById("table-search")
                .addEventListener("input", (e) => {
                    const value = e.target.value.toLowerCase().trim();
                    setTableRows(
                        value.charAt(0) === "#"
                            ? rows.filter((i) =>
                                i.ref.toLowerCase().startsWith(value.substring(1).trim())
                            )
                            : rows.filter((i) => i.name.toLowerCase().includes(value))
                    );
                });
        });
    </script>
    <link rel="stylesheet" th:href="@{/css/erp/table.css}" />
</head>

<body>
    <main layout:fragment="content">
        <div class="main-title">
            <h1>Events</h1>
        </div>
        <div class="table-card">
            <div class="table-actions">
                <div th:replace="~{fragments/searchbar :: searchbar(prefix = 'table')}" />
            </div>
            <div class="table-wrapper">
                <table id="table" class="table">
                    <thead class="thead">
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Priority</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody id="table-data" class="tbody pointer"></tbody>
                </table>
            </div>
        </div>
        </div>
    </main>
</body>

</html>